/**
* @link https://www.github.com/jiifw
* @copyright Copyright (c) 2023-2024 Jii framework
* @license https://www.github.com/jiifw/jii/blob/main/LICENSE
* @since {{ version }}
*/

/**
 * Typescript definitions
 */

