/**
* @link https://www.github.com/jiifw
* @copyright Copyright (c) 2023-2024 Jii framework
* @license https://www.github.com/jiifw/jii/blob/main/LICENSE
* @since {{ version }}
*/

/**
 * Typescript definitions
 */

// types
import {PluginDefinition} from '@jii/core/dist/typings/plugin';

/**
* Wizard plugin definition
*/
export interface {{ className }}Definition extends PluginDefinition {
}
